

body {

background-color: hsl(212, 45%, 89%);
min-height: 100vh; 
display: flex; 
width: 1044;
align-items: center; 
justify-content: center;

}

main {

    background-color: hsl(0, 0%, 100%);
    padding: 20px;
    width: 300px;
    height: 450px;
    border-radius: 5%;
  
}

.qr-code {

    width: 300px;
    border-radius: 5%;

}

h1 {

    font-family: 'Montserrat', sans-serif;
    text-align: center;
    font-size: 19px;
    font-weight: 700;
    color: hsl(218, 44%, 22%)
}

p {
    font-family: 'Outfit', sans-serif;
    font-size: 15px;
    text-align: center;
    font-weight: 400;
    color: hsl(220, 15%, 55%)

}


.attribution { 
    font-size: 11px; text-align: center;
 }

.attribution a { 
    color: hsl(228, 45%, 44%);
 }